*{
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
body,html{
    width: 100%;
    height: 100%;
}
header{
    background-color: purple;
    text-align: center;
}
.container{
    display: flex;
}
.section-title{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
.current{
    text-align: center;
    margin-bottom: .5rem;
}
.project-container{
    border-right: solid 2px black;
    width: 25%;
    height: 100Vh;
}
.append-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-button{
    width: 75%;
    background-color: whitesmoke;
    border: none;
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.project-button.active{
    border: solid 2px violet;
}
.todo-container{
    width: 75%;
    height: 100vh;
  
}
.append-todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todo{
    background-color: whitesmoke;
    width: 80%;
    border: solid 2px blue;
    border-radius: 5px;
    margin: .5rem;
}
.todo.high{
    border: solid 2px red;
}
.todo.medium{
    border: solid 2px yellow;
}
.todo.low{
    border: solid 2px green;
}
.left-todo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* grid-area: left; */
}
.todo-title{
    margin: 0.5rem;
}
.right-todo{
    display: inline-flex;
    justify-content: end;
    align-items: center;
    width: 70%;
    /* grid-area: right; */
}
.interface{
 margin: 0 .5rem 0 .5rem;
}

.toggle-todo{
    margin: .5rem;
}
.todoDesc{
    display: none;
}
.todoDesc.expand{
    display: block;
}
.desc{
    padding: .5rem 1.5rem .5rem 1.5rem;
}

/* Modal */
.projectOverlay, .todoOverlay, .todoEditOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(13, 21, 109, .4);
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    }
    .modal {
        width: 800px;
        height: 500px;
        margin: 10% auto auto;
        position: relative;
        text-align: center;
        background: #F3F4F2;
        border: 1px solid #778;
        border-radius: 5px;
        padding: 30px 20px;
        z-index: 1;
        }
        .modal-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
        }
        /* Text fields */
        .textinput input{
            display: flex;
            width: 95%;
            height: 2rem;
            font-size: 1.125rem;
            padding-left: .5rem;
            background-color: whitesmoke;
            border: none;
            transition: all .5s ease-out;
            margin: .5rem;
            flex: 1;
            border:rgba(13, 21, 109, 1) solid 1px;
            border-radius: 5px;
            }
            .textinput textarea{
                display: flex;
                width: 95%;
                font-size: 1.125rem;
                padding-left: .5rem;
                background-color: whitesmoke;
                border: none;
                transition: all .5s ease-out;
                margin: .5rem;
                flex: 1;
                border:rgba(13, 21, 109, 1) solid 1px;
                border-radius: 5px;
                height: 5rem;
            }
            .otherinput input, select{
                display: flex;
                width: 100%;
                height: 2rem;
                font-size: 1.125rem;
                padding-left: .5rem;
                background-color: whitesmoke;
                border: none;
                transition: all .5s ease-out;
                margin: .5rem;
                flex: 1;
                border:rgba(13, 21, 109, 1) solid 1px;
                border-radius: 5px; 
            }
            .textinput.half{
                display: flex;
                width: 100%;
                justify-content: space-evenly;
            }
        .textinput{
            margin-bottom: 1.5rem;
        }
        input::placeholder {
            font-style: italic;
        }
        .modal-close {
            position: absolute;
            right: 15px;
            top: 5px;
            cursor: pointer;
            background: none;
            border: red solid 1px;
            width: 2.5rem;
            height: 2.5rem;
            color: red;
            }
        
            .button-con{
                display: flex;
                margin: 1rem 0;
      
            }
            .addBook{
                display: block;
                height: auto;
                width: 10rem;
                height: 3rem;
                margin: 0 auto;
                background-color: #2A75C7 ;
                border: #2A75C7 solid 4px;
                border-radius: 5px;
                color: white;
                font-size: 1.5rem;
            }
            .addBook:hover{
                background-color: #F3F4F2;
                color:#2A75C7;
            }

        